.DS_store
*.acn
*.acr
*.alg
*.aux
oq-manual-blx.bib
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.snm
*.swp
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.ptc
*.DS_Store
_minted-oq-manual/
*.texpadtmp/
